services:
  ecotrack-api:
    build: 
      context: ./backend
      dockerfile: Dockerfile
    
    ports:
      - "3000:3000"
    
    env_file:
      - ./backend/.env

    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/health"]
      interval: 30s
      timeout: 10s
      retries: 3
